<div class="container-fluid">
    <img src="assets/logo/netflix.png" alt="netflix-logo">
    <div class="container">
        <div class="box">
            <form>
                <h1>Register</h1>
                <div class="mb-3">
                    <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Surname">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control input" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input input1" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <p>Already registered? <a routerLink="login"> Sign up now.</a></p>
        </div>
    </div>
</div>
